rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{uid}/uploads/{fileName} { allow read, write: if false; }
    match /users/{uid}/outputs/{fileName} { allow read: if request.auth != null && request.auth.uid == uid; allow write: if false; }
  }
}
